body {
	background: #1d1212;
	margin: 0;
	padding: 0;
	font-family: Trebuchet MS, Tahoma, Verdana, Arial, sans-serif;
}

#login_form {
	-webkit-user-select: none;
	-moz-user-select: -moz-none;
	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;

	background: #f0f0f0;
	margin: 200px auto 0;
	padding: 1em;
	width: 300px;

}
#register_form {
	-webkit-user-select: none;
	-moz-user-select: -moz-none;
	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;

	background: #f0f0f0;
	margin: 200px auto 0;
	padding: 1em;
	width: 350px;

}
h1,h2 {
	margin-top: 0;
	text-shadow: 0 1px 0 white;
	-moz-text-shadow: 0 1px 0 white;
	-webkit-text-shadow: 0 1px 0 white;
	color: #1D1212;
}

#login_form input[type='text'], #login_form input[type='password'],
#register_form input[type='text'], #register_form input[type='password'] {
	-webkit-user-select: text;
	-moz-user-select: text;
	display: block;
	margin: 0 0 1em 0;
	width: 280px;
	padding: 0.5em;
	border: 5px solid #dcdcdc;

	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
}

#grid_entry input[type='submit'], #grid_entry a,
#login_form input[type='submit'], #login_form a,
#register_form input[type='submit'], #register_form a {
	text-shadow: 0 1px 0 #1d1212;
	-moz-text-shadow: 0 1px 0 #1d1212;
	-webkit-text-shadow: 0 1px 0 #1d1212;

	box-sizing: border-box;
	border: none;
	margin: 0 1em 0 0;
	padding: 0.5em;
	font-size: 1em;

	background: #006db8;
	color: white;
	cursor: pointer;
	text-decoration: none;
	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
}

#grid_entry input[type='submit']:hover, #grid_entry a:hover,
#login_form input[type='submit']:hover, #login_form a:hover,
#register_form input[type='submit']:hover, #register_form a:hover {

	background: #024E85;
}

#login_form .error {
	color: #383838;
	font-size: 1.2em;
}

fieldset {
	margin: auto;
	margin-bottom: 2em;
	width: 300px%;
	display: block;
}

#top_bar a {
	font-weight: bold;
	text-shadow: 0 1px 0 #1d1212;
	-moz-text-shadow: 0 1px 0 #1d1212;
	-webkit-text-shadow: 0 1px 0 #1d1212;
	box-sizing: border-box;
	border: none;
	margin: 0 0 0 0.1em;
	padding: 0.5em;
	font-size: 1em;

	background: #006db8;
	color: white;
	cursor: pointer;
	text-decoration: none;
	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
}
#top_bar a:hover {
	background: #024E85;
}


#top_bar {
	-webkit-user-select: none;
	-moz-user-select: none;
	width: 100%;
	margin: 0;
	padding: 0;
	-moz-box-shadow: 0 1px 0 #2e2e2e;
	-webkit-box-shadow: 0 1px 0 #2e2e2e;	
	background: #120000;
	color: white;
	height: 32px;
	top: 0;
}

#top_right {
	float: right;
	padding-right:10px;
	vertical-align: middle;
}
#grid_entry {
	margin: 10px auto 0;
	-webkit-user-select: none;
	-moz-user-select: none;
	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;

	background: #f0f0f0;
	padding: 1em;
	width: 300px;
}
#grid_entry label {
	display: block;
}

#grid_entry p {
	margin: 0;
	vertical-align: top;
}

#grid_entry textarea, #grid_entry input  {
	margin-top:0;
	margin-bottom:4px;
	box-sizing: border-box;
	-ms-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	width: 300px;
	display: inline-block;	

	border: 5px;
	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	padding: 0.3em;
	border: none;
}


.grid_view {
	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;

	background: #f0f0f0;
	margin: 1em 1em;
	padding: 1em;
}
.grid_view th {	
	text-shadow: 0 1px 0 white;
	-moz-text-shadow: 0 1px 0 white;
	-webkit-text-shadow: 0 1px 0 white;
	background: f0f0f0;
	color: #1D1212;
	font-size: 1.1em;
	padding:5px;
}
.grid_view td {
	font-size: 0.7em;
	background: #f0f0f0;
	color: #1D1212;
	padding:3px;
	border-bottom: 1px solid white;
}

.grid_view tr.hover td {
	background: white;
}

.noselect {
	user-select: none;
	-webkit-user-select: none;
	-moz-user-select: none;
}

#userinfo {
	color: white;
}

#access_denied {
	-webkit-user-select: none;
	-moz-user-select: -moz-none;
	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;

	background: #f0f0f0;
	margin: 200px auto 0;
	padding: 1em;
	width: 300px;
	text-align: center;
}

#users_list {
	-webkit-user-select: none;
	-moz-user-select: -moz-none;
	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;

	background: #f0f0f0;
	margin: 1em;
	padding: 1em;
	width: 500px;
	float: left;
}


#reports_list {
	-webkit-user-select: none;
	-moz-user-select: -moz-none;
	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;

	background: #f0f0f0;
	margin: 1em;
	padding: 1em;
	width: 500px;
	float: left;
}

#roles_list {
	-webkit-user-select: none;
	-moz-user-select: -moz-none;
	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;

	background: #f0f0f0;
	margin: 1em;
	padding: 1em;
	width: 500px;
	float: left;
}